.content {
  // Breakpoint variables
  // Taken from https://m2.material.io/design/layout/responsive-layout-grid.html#breakpoints
  $breakpoint-xs: 599px;
  $breakpoint-sm: 904px;
  $breakpoint-md: 1239px;
  $breakpoint-lg: 1439px;

  margin: 0 auto -3em;
  padding-bottom: 3em;

  // prevent margins collapsing between children and body
  padding-top: 0.02px;

  min-height: 100vh;

  // XS devices (phone)
  @media (max-width: $breakpoint-xs) {
    margin-left: 16px;
    margin-right: 16px;
  }

  // SM devices (small tablet)
  @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    margin-left: 32px;
    margin-right: 32px;
  }

  // MD devices (tablet)
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    width: 840px;
  }

  // LG devices (laptop)
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    margin-left: 200px;
    margin-right: 200px;
  }

  // XL devices (desktop
  @media (min-width: $breakpoint-lg) {
    width: 1040px;
  }
}
